# macOS system files
.DS_Store
.AppleDouble
.LSOverride

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
venv/
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VS Code
.vscode/

# Logs and temporary files
*.log
*.tmp
*.swp

# Other IDEs
.idea/
*.iml
.DS_Store
